<%-include partials/header.ejs%>
  
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%=title%> Page<h1>
  </main>
  <footer>
   <nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h1 class="display-6 navbar-text">&copy;2023 All rights reserved</h1>
  
</nav>
    </footer>
 
  
  <!--Script section-->
  <%-include partials/footer.ejs%>

<!--<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>
    <h1><%= title%></h1>
    <p>Welcome to <%= title %></p>
    <script src="/Scripts/app.js"></script>
  </body>
</html>-->
