<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%=title%> Page<h1>
  </main>
  
 
  
  <!--Script section-->
  <%-include partials/footer.ejs%>

<!--<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>
    <h1><%= title%></h1>
    <p>Welcome to <%= title %></p>
    <script src="/Scripts/app.js"></script>
  </body>
</html>-->
